<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="WeatherDataService.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <WeatherDataService.Properties.Settings>
            <setting name="key" serializeAs="String">
                <value>750e0bb1e96731632166f191b3377bae</value>
            </setting>
            <setting name="url" serializeAs="String">
                <value>http://api.openweathermap.org/data/2.5/weather?q=</value>
            </setting>
        </WeatherDataService.Properties.Settings>
    </userSettings>
</configuration>